{% extends 'base.html' %}

{% block content %}

<h4>Home/map screen!</h4>

<div id="map" style = "height: 600px; width: 600px;"></div>

<script>

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(sendPosition);
  } else {
    window.alert("Error: geolocation not supported on current os!");
  }
}

var zoom = 20
var map = L.map('map').setView([51.505,-0.09], zoom)
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 30,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);

</script>


{% endblock %}





