{% extends 'base.html' %}

{% block content %}

<h8>Welcome!</h8>

<div id="map" style = "height: 600px; width: 600px;"></div>

<script>

// create map
var lat = 51.505
var long = -0.09

var zoom = 18
const map = L.map('map').setView([lat, long], zoom)
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 20,
}).addTo(map);

// Function to get user's location
function getUserLocation() {
    return new Promise((resolve, reject) => {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;
                    resolve([latitude, longitude]); // Return as an array
                },
                (error) => {
                    reject(`Error retrieving location: ${error.message}`);
                }
            );
        } else {
            reject("Geolocation is not supported by this browser.");
        }
    });
}
// Async function to get user's location and update map
async function updateUserLocation() {
    try {
        const coords = await getUserLocation();
        map.setView(coords, zoom); // Update map view to new coordinates
        L.marker(coords).addTo(map) // Add a marker at the new location
            .bindPopup('You are here!')
            .openPopup();
    } catch (error) {
        console.error(error);
    }
}

function addSpotMarkers() {
    var spots = "{{Spot_list}}";
    console.log(spots)
}



updateUserLocation()
addSpotMarkers()



</script>


{% endblock %}





