<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <style>
        body {background-color: CadetBlue;}
    </style>
</head>
<body class="container">

    <a href="/home/"><h2>Go Back to Homepage</h2></a>
    <!--Map stuff happens here-->
    {% block content %}{% endblock content %}

    <!--Outputs list of hangout spots currently in the database--> 
    {% if spots %}
        <ul>
            {% for spot in spots %}

                <a href="/home/{{ spot.id }}/">
                <img src="{{ spot.photo.url }}">
                </a>
                
                <li> {{spot.spot_name}} </li>
                <ul>
                    <li> {{spot.spot_description}} </li>
                    <li> ({{spot.spot_latitude}}, {{spot.spot_longitude}}) </li>
                </ul>
            {% endfor %}
        </ul>
    {% endif %}

</body>
</html>

